html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: url("#{request.contextPath}/bilder/cesar-couto-420976-unsplash.jpg")no-repeat center center fixed;
    background-size: cover;

}
.img-circle{
    margin-top:50%;
    margin-bottom: 25%;
    margin-left: auto;
    margin-right: auto;
}

.logbuttons{
    width: 100%;
}

#slogan{
    text-align: center;
}

#logincontainer{
    margin-top: 5%;
    transform: scale(1.2);
    flex:1 0 auto;
}

.some-class{
    color: black;
}
